*{
    box-sizing: border-box;
}

html,body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('imgs/pattern-curve.svg');
    background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
   width: 100%;
   height: 100%;
    

}


#content{
    display: flex;
   align-items: center;
   flex-direction: column;
    width: 100%;
   
}

#card{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
}

.imgbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


#person{
    width: 240px;
    margin-top: 2rem;
    border-radius: 1rem;
  
}

.button{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem;
    width: 90px;
    position: relative;
    top: -2rem;
}

.arrow{
    width: 10px;
}

.divide{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.word_section{
width: 340px;
text-align: center;
margin-top: 2.5rem;
position: relative;

}

#quote{
    font-size: 20px;
    line-height: 1.5rem;
    color: #202047;
 font-weight: lighter;
}

#name{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

#role{
    color: #B9B9CE;
}

.back-quote{
    width: 4rem;
    position: absolute;
    top: -1.5rem;
    left: 9rem;
}

@media screen and (min-width:768px) {
    #content{
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-size: contain;

    }

    #card{
        order: 5;
    }

    .word_section{
        text-align: left;
      
        
        }
}