*{
    box-sizing: border-box;
}

html,body{
    font-family: 'Inter', sans-serif;

}


#content{
    display: flex;
   align-items: center;
   flex-direction: column;
    width: 100%;
}

#card{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
}

.imgbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


#person{
    width: 240px;
    margin-top: 2rem;
    border-radius: 1rem;
  
}

.button{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem;
    width: 90px;
    position: relative;
    top: -2rem;
}

.arrow{
    width: 10px;
}

.divide{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.word_section{
width: 340px;
text-align: center;
}