*{
    box-sizing: border-box;
}


html{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url('imgs/pattern-curve.svg');
    background-repeat: no-repeat;
   background-position: bottom;
   background-size: contain;
   width: 100%;
   height: 100%;
   align-items: center;
    

}


#content{
    display: flex;
   align-items: center;
   flex-direction: column;
   width: 375px;
   max-width: 500px;
   
}

#card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/pattern-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1rem;
}

.imgbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


#person{
    width: 240px;
    margin-top: 2rem;
    border-radius: 1rem;
  
}

.button{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem;
    width: 90px;
    position: relative;
    top: -2rem;
}

.arrow{
    width: 10px;
}

.divide{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.word_section{
width: 340px;
text-align: center;
margin-top: 2.5rem;
position: relative;

}

#quote{
    font-size: 20px;
    line-height: 1.5rem;
    color: #202047;
 font-weight: lighter;
}

#name{
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

#role{
    color: #B9B9CE;
}

.back-quote{
    width: 4rem;
    position: absolute;
    top: -1.5rem;
    left: 9rem;
}

.end{
    display: none;
}

.rank-role{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:1440px) {
    body{
        background-image: none;
        position: relative;
        display: flex;
        align-items: center;
    }
    #content{
        flex-direction: row;
        width: 100%;
        height: 100%;
        max-width: 1440px;
        align-items: center;
        justify-content: space-around;
        position: relative;
      

    }

    #person{
        margin-top: 0rem;
        width: 540px;
        
      
    }

    #card{
        order: 5;
        width: 700px;
        height: 700px;
        background-size: auto;
        
    }

    .imgbutton{
        margin-top: 4rem;
    }

    .word_section{
        text-align: left;
        width: 635px;
        position: relative;
        left: 12rem;
 
      
      
        
        }

        #quote{
            font-size: 32px;
            line-height: 2.5rem;
          
        }

        .end{
            position: absolute;
            display: block;
            bottom: 0rem;
            left: 0rem;
        }

        .rank-role{
           
            flex-direction: row;
            align-items: baseline;
        }

        #name{
            margin-right: 1rem;
        }

        .rank-role p{
            font-size: 20px;
        }

        .back-quote{
            width: auto;
            position: absolute;
            top: -4rem;
            left: 9rem;
        }
}